<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
</head>
<body>
    <div>
        <h1>Instagram</h1>
        <h3>Upload image here:</h3>
        <h4>Choose file </h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ photos_form }}
        </form>
    </div>

    {% for photo in photos %}
        <div class="">
            <img src="{{ photo.image.url }}">
        </div>
    {% endfor %}
</body>
</html>